.chip-basic {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	position: relative;
	padding: 8px 16px;
	gap: 8px;
	box-sizing: border-box;
	cursor: pointer;
	text-align: start;
	text-decoration: none;
	line-height: 20px;
	font-size: 14px;
	font-weight: 500;
	transition: box-shadow 0.2s ease-in-out 0s;

	margin-right: 0.5em;
	margin-top: 0.5em;

	background-color: var(--color-surface);
	color: var(--color-on-surface);

	border: 1px solid var(--color-outline);
	border-radius: 8px;

	height: 32px;
}

.chip-basic:hover {
	cursor: pointer;
	background-color: var(--color-surface-variant);

	.label {
		color: var(--color-primary);
	}
}

a {
	text-decoration: none;
}