{% extends "layouts/base.njk" %}
{% set pageCriticalStyles = ['css/page.css'] %}

{% block content %}

<div class="[ page-content ] [ flow wrapper ] [ flow-space-700 gap-top-700 ]">
    {{ content | safe }}
</div>

{% set ctaContent = cta %} 
{% include "partials/cta.njk" %}

{% endblock %}