{% extends "layouts/base.html" %}

{% set pageHeaderTitle = title %}

{# Grab other posts that aren’t this one for the 'recommended posts' feed #}
{% set recommendedPosts = helpers.getSiblingContent(collections.blog, page) %}

{# Render post date #}
{% set pageHeaderSummary %}
  <time datetime="{{ date | w3DateFilter }}">{{ date | dateTimeFilter }}</time>
{% endset %}

{% block content %}
  <article>
    {% include "partials/page-header.html" %}
    
    <div class="[ page-content ] [ flow wrapper ] [ flow-space-700 gap-top-700 ]">
      {{ content | safe }}
    </div>
    {% if recommendedPosts.length > 1 %}
    <footer class="recommended-posts">
      {% set postListItems = recommendedPosts %}
      {% set postListHeadline = 'Check out some of our other posts!' %}
      {% include "partials/post-list.html" %}
    </footer>
    {% endif %}
  </article>
  {# Render post tags #}
  {% if tags %}
  <p class="visually-hidden" id="tags-desc">Tags</p>
  <ul class="tags-list" aria-describedby="tags-desc">
    {% for tag in tags %}
      <li>
        <a href="/tag/{{ tag | slug }}/">#{{ tag | title | replace(' ', '') }}</a>
      </li>
    {% endfor %}
  </ul>
  {% endif %}
{% endblock %}