<template id="chip-basic">
	<style>
		{% include "css/components.css" %}
	</style>
	<a class="link">
		<div class="chip-basic">
			<p class="label">Label</p>
		</div>
	</a>
</template>
<script>
	{% include "components/chip/chip-basic.js" %}
</script>