.button {
    @extend .radius;
  
    display: inline-block;
    padding: 0.5rem 2rem;
    border: 0px solid;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
  
    @include apply-utility('font', 'sans');
    @include apply-utility('weight', 'bold');
  
    // Make sure hover state trumps all variants with a good ol’ important
    &:hover {
      background: var(--color-tertiary) !important;
      color: var(--color-on-tertiary) !important;
      text-decoration: none;
    }
  
    // Add a ghost modifier
    &[data-variant='ghost'] {
      background: var(--color-on-surface-variant);
      color: var(--color-surface);
    }
  }
  