.post-list {

    &__link {
      font-size: get-size('700');
  
      @include apply-utility('font', 'sans');
      @include apply-utility('weight', 'bold');
    }
}

.post-list-background {
  background-color: var(--color-surface-variant);
  color: var(--color-on-surface-variant);

  transition: all 0.5s;
}