.site-head {

    // Style nav links
    a:link {
      color: get-color('dark-shade');
      text-decoration: none;
    }
    
    /* visited link */
    a:visited {
      color: get-color('dark-shade');
      text-decoration: none;
    }
    
    /* mouse over link */
    a:hover {
      color: get-color('dark-shade');
      text-decoration: none;
    }
    
    /* selected link */
    a:active {
      color: get-color('dark-shade');
      text-decoration: none;
    }

    padding: get-size('600') 0;
  
    &__inner {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
    }
  
    &__brand {
      flex-shrink: 0;
      margin-inline-end: get-size('600'); // Prevents nav bunching up to the logo
  
      svg {
        width: auto;
      }
    }
  
    &__nav {
      padding: get-size('300') 0;
    }
  
    @include media-query('md') {
      &__brand {
        svg {
          width: auto;
        }
      }
    }
  }
  