.site-foot {
    padding: get-size('500') 0 get-size('700') 0;
    text-align: center;
  }

.footer-icons {
  svg {
    color: get-color('dark-shade') !important;
    width: 32px;
    height: 32px;
  }
  
  svg:hover {
    color: get-color('quaternary') !important;
  }
}

.icon-row {
   display: inline-flex;
}

.icon-column {
  flex: 33.33%;
  padding-left: 10px;
  vertical-align: middle;
}