.site-foot {
    padding: get-size('500') 0 get-size('700') 0;
    padding-top: 6rem;
    margin-top: 2rem;
    text-align: center;
    background-color: var(--color-background);
    color: var(--color-on-background);
}
  
.footer-row {
  display: inline-flex;
  flex: 33.33%;
  flex-direction: row;
  width: 100%;
  padding-left: 10px;
  align-items: top;
  justify-content: space-between;
}

.footer-section {
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
}

.section-title {
  line-height: 0;
}

.section-item {
  font-size: get-size('400');
  line-height: 1.5;
}

.social-icons {
  display: inline-flex;
  flex-direction: row;
  padding-inline-end: 10px;
  vertical-align: middle;
  align-self: center;

  .social-link {
    margin:0 10px 10px 0;
  }

  svg {
    color: var(--color-on-background) !important;
    width: 32px;
    height: 32px;
  }
  
  svg:hover {
    color: var(--color-tertiary) !important;
  }
}

.icon-row {
   display: inline-flex;
}

.icon-column {
  flex: 33.33%;
  padding-left: 10px;
  vertical-align: middle;
}

.subfooter { // We want brand icon left-aligned, and copyright statement centered
  display: inline-flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly; // This with auto margins left-aligns first item only

  .brand {
    width: 48px;
    height: 48px;
    margin: 0 auto 0 0;
  }

  .copyright {
    margin: 0 auto 0 0;
    .copyright-statement {
      font-size: get-size('400');
    }
  }
}

.theme-toggle {
  background-color: transparent;
  background: transparent;
  width: 32px;
  height: 32px;

  .sun {
    width: 32px;
    height: 32px;
  }

  .moon {
    width: 32px;
    height: 32px;
  }
}

.theme-icon-holder { // TODO: Add a generalized icon holder for hover effect and style that instead
  /* don't take the whole line */
  display: inline-block;
  transition: background-color 0.25s;
  height: 2em;
  width: 2em;
  /* space between the icon and the background edge */
  padding: 0.25em;
  /* make it rounded */
  border-radius: 50%;
}

.theme-icon-holder:hover {
  background-color: var(--color-hover-background);
  cursor: pointer;
  .sun:hover {
    color: var(--color-primary);
  }
  .moon:hover {
    color: var(--color-primary);
  }
}