.site-footer {
  background-color: var(--color-background);
  color: var(--color-on-background);
  padding-top: 2rem;
  padding-bottom: 1.5rem;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}
  
.footer-container {
  width: 100%;
  max-width: var(--page-max-width);
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(var(--num-grid-columns), 1fr); // TODO: Needs to be 4 columns on mobile, 12 on desktop, idk how to determine thi
  gap: 0 20px;
  padding: 0 var(--page-gutter);

  .footer-section {
    grid-column-start: span 2;
    grid-column-end: auto;
    margin-bottom: 40px;
  
    .section-title {
      margin-bottom: 20px;
    }
    
    .section-item {
      font-size: get-size('400');
      display: block;
      margin-top: 8px;
    }
  }

  .social-icons {
    grid-column-start: span 3;
    grid-column-end: auto;
    grid-row-end: span 2;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  
    .social-link {
      margin:0 10px 10px 0;
      display: flex;

      svg {
        color: var(--color-on-background) !important;
        width: 32px;
        height: 32px;
      }
      
      svg:hover {
        color: var(--color-tertiary) !important;
      }
    }
  }

}

.subfooter { // We want brand icon left-aligned, and copyright statement centered
  display: inline-flex;
  width: var(--page-max-width);
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly; // This with auto margins left-aligns first item only

  .brand {
    width: 48px;
    height: 48px;
    margin: 0 auto 0 0;
  }

  .copyright-statement {
    margin: 0 auto 0 0;
    font-size: get-size('400');
  }
}