.theme-toggle {
    background-color: transparent;
    background: transparent;
    display: flex; // This allows the button to fit the size of the hover shadow
  
    .sun {
      width: 32px;
      height: 32px;
    }
  
    .moon {
      width: 32px;
      height: 32px;
    }
  }