<script type="application/ld+json">
	{
		"@context": "https://schema.org",
		"@type": "Organization",
		"name": "{{ site.companyLegalName }}",
		"description": "Adelheid Software is an independent game and software development studio.",
		"url": "https://adelheid.org/",
		"logo": "https://adelheid.org/assets/images/logo.png",
		"email": "{{ site.contactEmail }}",
		"founder": "Aaron Yoder",
		"foundingDate": "2024-01-01",
		"foundingLocation": {
			"@type": "PostalAddress",
			"addressRegion": "Ohio",
			"addressCountry": {
				"@type": "Country",
				"name": "United States"
			}
		}
	}
</script>