<script type="application/ld+json">
	{
		"@context": "https://schema.org",
		"@type": "Organization",
		"name": "{{ company.legalName }}",
		"description": "{{ company.name }} is an independent game and software development studio.",
		"url": "{{ site.url }}",
		"logo": "https://adelheid.org/assets/images/logo.png",
		"email": "{{ company.contactEmail }}",
		"founder": "Aaron Yoder",
		"foundingDate": "2024-01-01",
		"foundingLocation": {
			"@type": "PostalAddress",
			"addressRegion": "Ohio",
			"addressCountry": {
				"@type": "Country",
				"name": "United States"
			}
		}
	}
</script>