<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Organization",
      "name": "Adelheid Software",
      "description": "Adelheid Software is an independent game and software development studio.",
      "url": "https://adelheid.org/",
      "logo": "https://adelheid.org/assets/images/logo.png",
      "email": "{{ site.contactEmail }}",
      "founder": "Aaron Yoder",
      "foundingDate": "2023-11-18",
      "foundingLocation": {
        "@type": "PostalAddress",
        "addressLocality": "Columbus",
        "addressRegion": "Ohio",
        "postalCode": "43201",
        "addressCountry": {
            "@type": "Country",
            "name": "United States"
        }
      }
    }
</script>