// First up: config and functions
@import 'config';

// Set Gorko to output no CSS for this file
$outputTokenCSS: false;

// Next: pull in Gorko for design tokens
@import '../../node_modules/gorko/gorko.scss';

time[post-date] {
  display: block;
  font-size: get-size('500');
  line-height: 1.5
}

time[post-time] {
  display: block;
  font-size: get-size('400');
  line-height: 1
}

p.draft-label {
  font-style: italic;
  font-size: get-size('700');
  color: gray;
  line-height: 2;
}

h1,
h2,
h3,
h4 {
  font-weight: 900;
  @include apply-utility('font', 'sans');
  @include apply-utility('leading', 'flat');
}

body {
  font-size: get-size('500');
}

// Pull in blocks
@import 'blocks/post-list';
@import 'blocks/pagination';
@import 'blocks/page-content';