<div class="blog-page-header">
	<div class="[ wrapper ] [ flow ]">

		<a class="blog-back-button" href="/blog/">
			<svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="m382-480 294 294q15 15 14.5 35T675-116q-15 15-35 15t-35-15L297-423q-12-12-18-27t-6-30q0-15 6-30t18-27l308-308q15-15 35.5-14.5T676-844q15 15 15 35t-15 35L382-480Z" fill="currentColor" /></svg>
			<p>Back to articles</p>
		</a>

		<div class="blog-heading">
			<h1 class="blog-title headline">
				{{ title }}
			</h1>
			{% if subtitle %}
			<p class="blog-subtitle">
				{{ subtitle }}
			</p>
			{% endif %}
		</div>

		<div class="blog-info">
			<div class="blog-author">
				<div class="blog-author-name">
					<b>{{ author }}</b>
				</div>
				{% if authorTitle%}
				<div class="blog-author-title">
					<p>{{authorTitle}}</p>
				</div>
				{% endif %}
			</div>

			<div class="blog-date">
				<time post-date="{{ date | w3DateFilter }}">{{ date | dateFilter }}</time>
				<!-- TODO: Fix W3C Validator issues with this tag -->
				<time post-time="{{ date | w3DateFilter }}">{{ date | timeFilter }}</time>
			</div>
		</div>

		<div class="blog-tags">
			{% if tags %}
			<p class="visually-hidden" id="tags-desc">Tags</p>
			<ul class="tags-list" aria-describedby="tags-desc">
				{% for tag in tags %}
				<li>
					<chip-basic data-label="#{{ tag | title }}" data-href="/tag/{{ tag | slug }}/"></chip-basic>
				</li>
				{% endfor %}
			</ul>
			{% endif %}
		</div>

	</div>
</div>