<footer role="contentinfo" class="site-foot">
    <div class="wrapper">
        <div class="footer-icons">
            <div class="frow">
                <div class="fcolumn">
                    <a href="mailto:adelheidsoftware@gmail.com"> <img src="/assets/images/icons/mail.svg" width="32" height="32"> </a>
                </div>
                <div class="fcolumn">
                    <a href="https://discord.gg/8uWduVrUUa"> <img src="/assets/images/icons/discord.svg" width="32" height="32"> </a>
                </div>
                <div class="fcolumn">
                    <a href="https://github.com/adelheidsoftware"> <img src="/assets/images/icons/github-mark.svg" width="32" height="32"> </a>
                </div>
            </div>
        </div>
        © 2023 Adelheid Software
        <!-- Add privacy policy and terms of use, possibly socials -->
    </div>
</footer>