<div class="[ theme-toggle ] [ circle-hover-effect ]" id="theme-toggle-button" title="Change theme" onclick="onThemeToggleClick()">
	<div class="theme-symbol">
		{% include "partials/icons/dark-mode-unfilled.svg" %}
		{% include "partials/icons/dark-mode-filled.svg" %}
		{% include "partials/icons/light-mode-unfilled.svg" %}
		{% include "partials/icons/light-mode-filled.svg" %}
	</div>
</div>

